<div class="container flash">
  {% for name, messages in flash.getMessages() %}
    {% for message in messages %}
      <div class="alert alert-{{ name }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endfor %}
</div>
