<div class="ui container flash">
    {% for name, messages in flash.getMessages() %}
        <div class="ui {{ name }} message">
            <i class="close icon"></i>
            <div class="header">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
