body {
  padding-top: 70px;
}

.ui.container.flash {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.auth.grid {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DADADA;

  & > .column {
    max-width: 450px;
  }
}
