{% import 'app/macro/form.twig' as form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Slim Skeleton{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/lib/semantic/dist/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}
</head>
<body>
    {% block navbar %}
        {% include 'app/_navbar.twig' %}
    {% endblock %}

    {% block flash %}
        {% include 'app/_flash.twig' %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ asset('assets/lib/semantic/dist/semantic.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
    {% endblock %}
</body>
</html>
