<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

  <title>{% block title %}Slim Skeleton{% endblock title %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
  {% endblock stylesheets %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
{% block navbar %}
  {% include 'app/_navbar.twig' %}
{% endblock navbar %}

{% block flash %}
  {% include 'app/_flash.twig' %}
{% endblock flash %}

{% block body %}{% endblock body %}

{% block javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock javascript %}
</body>
</html>
