{% extends 'layout.twig' %}

{% block body_class %}register{% endblock body_class %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin" action="{{ path_for('register') }}" method="POST">
              <div class="form-label-group">
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="username">Username</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="email" class="form-control" name="email" placeholder="Email address" required autofocus>
                <label for="email">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                <label for="password">Password</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password_confirm" class="form-control" name="password_confirm" placeholder="Confirm password" required>
                <label for="password_confirm">Confirm password</label>
              </div>

              {{ csrf() }}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
            </form>
          </div>
        </div>
        {% if has_errors() %}
          {% for paramErrors in errors() %}
            {% for error in paramErrors %}
              <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock body %}
